<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
<style>
  .node {
    fill: #cccccc;
    stroke: #333;
    stroke-width: 1.5px;
    /* fill-opacity: rgb(30, 233, 91); */
  }

  .link {
    stroke: #999;
    stroke-opacity: 0.6;
  }
</style>